

/* Each form separated to give individual control to the scripts.js */

#form1 {
  display: none;
}

#form2 {
  display: none;
}

#form3 {
  display: none;
}

#form4 {
  display: none;
}

#form5 {
  display: none;
}


/* Background Image code below */

body {
  background-image: url("../imgs/code.jpg")
}


/* Code below is for styling done to page */


.title {
  color: white;
  margin-top: 5%;
  padding-bottom: 5%;
}
div {
  text-align: center;
  font-size: 25px;
}

form {
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
}

.link {
  text-decoration-line: underline;
}


.text {
  color: white;
  display: none;
  margin-top: 5%;
  font-size: 25px;
}

.noInput {
  color: white;
  display: none;
  margin-top: 5%;
  font-size: 25px;
}

ul {
  padding-top: 6%;
  list-style-type: none;
  color: lightgrey;
  font-size: 20px;
}
