

/* Each form separated to give individual control to the scripts.js */

#form1 {
  display: none;
}

#form2 {
  display: none;
}

#form3 {
  display: none;
}

#form4 {
  display: none;
}

#form5 {
  display: none;
}


/* Background Image code below */

body {
  background-image: url("../imgs/code.jpg")
}


/* Code below is for styling done to page */


@keyframes color {
  0% {color: red;}
  20% {color: orange;}
  40% {color: yellow;}
  60% {color: green;}
  80% {color: Blue;}
  100% {color: White;}
}

.title {
  color: white;
  margin-top: 5%;
  padding-bottom: 5%;
  animation-name: color;
  animation-duration: 10s;
}
div {
  text-align: center;
  font-size: 25px;
}

form {
  animation-name: color;
  animation-duration: 10s;
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
}
button {
  margin-top: 4%;
}

.link {
  text-decoration-line: underline;
}


.text {
  animation-name: color;
  animation-duration: 10s;
  color: white;
  display: none;
  margin-top: 5%;
  font-size: 25px;
}

.noInput {
  animation-name: color;
  animation-duration: 10s;
  color: white;
  display: none;
  margin-top: 5%;
  font-size: 25px;
}

ul {
  animation-name: color;
  animation-duration: 10s;
  padding-top: 6%;
  padding-left: 0;
  list-style-type: none;
  color: lightgrey;
  font-size: 20px;
}
